body
{
    background-size: cover;
    background-position: center;
}
.heading
{
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 0px;
}
.things
{
    background-color: white;
    border-radius: 50px;
    width: 30%;
    font-size: 20px;
}
